.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

docker/build/
out/
**/.DS_Store
.DS_Store
local.properties
/docker/src/lib/event-service-0.0.1-SNAPSHOT.jar
/docker/src/lib/*
